body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;

}

/********************* PARTIE DROIT******************************/

.content{
  flex: 1.5;
  min-height: 568px;
  border: solid 1px lightgray;
}

article{
  padding-left: 5%;
  
}
article p {
  font-size: smaller;
}

/************************HEADER********************************/

header h1{
  font-size: xx-large;
color: mediumvioletred;
}

header strong {
  color: black;
}

header p{
  margin-top: -30px;
  font-size: x-large;
    letter-spacing: 5px;
    color: darkgray;
}

i{
  margin-right: 10px;
  color: mediumvioletred;
}

.date{
  width: 10%;
}

.ligne{
  border-bottom: mediumvioletred solid 1px;
  width: 70%;
  
}

.titre_secondaire{
  color: mediumvioletred;
  font-weight: 600;
}

.texte{
  padding-left: 60px;
  color: grey;
}

.texte strong{
  color: black !important;
}

#photo_profil{
  display: none;
}

.items_container{
  display: flex;
  
}

.items_titre h2{
  font-weight: 500;
  
}

.section{
  margin-top: 80px;
}



/********************* PARTIE GAUCHE******************************/
nav p{
  color: #ffffff;
}

h2{
  color: #ffffff;
  text-align: center;
  background-color: mediumvioletred;
}

nav{
  flex : 0.3;
  background-color: #0277BD;
  display: flex;
  flex-direction: column;


}

.contact_contenus{
  margin-top: 50px;
}

.contact_contenus p{
  padding-left: 20px;
  padding-right: 10px;
}

.photo
{
  margin-top: 50px;
align-self: center;
}

img{
  height: 150px;
  width: 130px;
  border-radius: 50%;
  align-self: center;
}

.about_me{
  margin-top: 50px;
}

.about_me p{
  padding-left: 20px;
  padding-right: 20px;
}

.loisirs{
  margin-top: 700px;
}

.icon{
  display: flex;
  justify-content: center;
}

.icon i{
  color: #ffffff;
  font-size: 28px;
}

/**************************MOBILE DESIGN***************************/

@media (max-width: 767px) { 

body{
  flex-wrap: wrap-reverse;
}

/*PARTIE HAUT///////////////////////////*/

  nav{
    flex: 1!important;
    margin-top: 20px;
    
  }

  .responsive_container{
    display: flex;
    margin-top: 25px;
  }

  #photo_profil{
    display: inline;
    height: 99px;
    width: 80px;
  }

  header p{
    font-size: large;
    letter-spacing: 7px;
  }

  h3{
    text-align: center;
  }
  .loisirs{
    margin-top: 0px;
    margin-bottom: 30px;

  }


  .contact_contenus{
    margin-top: -70px;
  }

  .contact_contenus p{
    text-align: center;
  }


  /******************************PARTIE BAS**********************************/

.content{
  border: none;
}

article{
  padding-left: 0%;
}
  

#photo_nav{
  display: none;
}

  header h1, header p {
    text-align: center;
    margin-top: 10px;
  }

.date{
  display: none;
}

  .texte{
  padding-left: 0px;
  }



}


